<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ProjectBeta.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - My Book Store</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">  

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
      <link href="~/Content/search.css" rel=""  type="stylesheet" />  

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="search"  />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

         

       
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/">Books R' Us</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="~/">home</a></li>
                        <li><a runat="server" href="~/about">about</a></li>
                        <li><a runat="server" href="~/contact">contact</a></li>
                    </ul>
                    <div class="navbar-form navbar-right" id="divinput">
                     <%--<div class="input-group">--%>
                        <asp:TextBox ID="serInput" runat="server" CssClass="ser-input form-control navbar-right" Text="Search..." Height="35px" BackColor="Transparent" ForeColor="#9A9DA0"></asp:TextBox>
                    <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="ShoppingCart.aspx">
                        <asp:image ID="shoppingCart" runat="server" ImageUrl="~/Images/cart-30-px.png"  >  </asp:image>
                     </asp:HyperLink>
                        <div class="search-full-view">
                            <div class="input-group">
                                <asp:Panel ID="panSearch" runat="server" DefaultButton="searchButton">                                  
                                    <asp:TextBox ID="searchTextBox" runat="server" CssClass="form-control" ClientIDMode="Inherit" BorderStyle="Solid" BorderColor="White" BorderWidth="1px"></asp:TextBox>
                                    <asp:LinkButton ID="searchButton" runat="server" CssClass="input-group-addon" OnClick="searchButton_Click" BorderStyle="None" BorderColor="Black">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </asp:LinkButton>
                                    <br />
                                    <br />
                                    <br />
                                    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="Please enter search criteria!" ControlToValidate="searchTextBox" Visible="True" Font-Size="X-Large" ForeColor="#B78C33"></asp:RequiredFieldValidator>
                                </asp:Panel>   
                            
                                <asp:Label ID="previousSearchLabel" runat="server" Visible="False" ForeColor="#B78C33" Font-Size="Large"></asp:Label>
                                <%--<asp:Label ID="previousSearchLabel" runat="server" Visible="False" Font-Size="Medium"></asp:Label>--%>
                                <%--<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAnUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAN0S+bUAAAANdFJOU/xFAeC7IQ6LV8tzqC22rO/+AAABgElEQVQ4EXWTvU7DMBSFL0pUSOlQwgvQS5q2oUMEEgNTVBiQ2CKxR2ViqzoihqhIwJj2CaJMSCxR1y5VJd4L22ns67Y+Q3783eP4+DqAJoEJIHwA0+MBDiEnMN1HEFqIfnp0gJzP2WBgHyBiyIfxHtquLZqZSD41kfbCRC4aJuKdmEhwbCIdx0QQ/p41xVjvdSS2T12akuTWDVWoyE6gpCE97JEqH0ni6X3IZpL0tEBD1rR6bXogXlcTvUOXLUUwcskK0gUhkykhZUEIDSSmrr+DNFBwyvySDEgg8SwJDbS+ph4aSKxGemigcEM9mLnsVagvGiw9qAJ5TV6gSHt+tlUqOqJIolq91D0D52Grp1gnPTE7H6ukZuvs/EOK0EDcpQgJJKYjhJ0XKkJe7J/vSp+8gpBhWCcS54gQzO3MXq1KuLfGugfBvWLVSQujQiddC3mm9gjTpU58iPkBWN9W206/U95N2GHwnF/Y6B58BSgQuxmI35l68Oud1WL/Lea3f1H5vx181DsQAAAAAElFTkSuQmCC">--%>                              <%--</div>--%>
                            </div>

                            <asp:ImageButton ID="searchClose" runat="server" CssClass="btn btn-close" ImageUrl="http://d9hhrg4mnvzow.cloudfront.net/www2.iweb.com/windows-server-2016/ed5b870c-clear-close-cancel-white.png" Width="60px" OnClientClick="return false;"/>
                        </div>
                    </div>                  
                </div>             
            </div>
        </div>
         
    
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
        </div>

    </form>

    <footer>
        <div class="footer-top"> 
               <div class="container">
                 <div class="col-lg-2 col-xs-12 text-center">
                     <a href="#"><i class="fa fa-facebook fa-2x"></i>Facebook</a>
                 </div>
                  <div class="col-lg-2 col-xs-12 text-center">
                     <a href="#"><i class="fa fa-twitter fa-2x"></i>Twitter</a>
                 </div>
                  <div class="col-lg-2 col-xs-12 text-center">
                     <a href="#"><i class="fa fa-flickr fa-2x"></i>Flickr</a>
                 </div>
                  <div class="col-lg-2 col-xs-12 text-center">
                     <a href="#"><i class="fa fa-tumblr fa-2x"></i>Tumblr</a>
                 </div>
                  <div class="col-lg-2 col-xs-12 text-center">
                     <a href="#"><i class="fa fa-github fa-2x"></i>Github</a>
                 </div>
                  <div class="col-lg-2 col-xs-12 text-center">
                     <a href="#"><i class="fa fa-google-plus fa-2x"></i>Google</a>
                 </div>
               </div> 
            </div>  
        
            <div class="container" style="border-top:1px solid grey;">
                <div class="row text-center">   
                    <div class="col-lg-6 col-lg-offset-3">
                          <ul class="menu">
                                 
                                 <li>
                                    <a href="#">Home</a>
                                  </li>
                                 
                                  <li>
                                     <a href="#">About</a>
                                  </li>

                                  <li>
                                    <a href="#">Blog</a>
                                  </li>
                                   
                                  <li>
                                     <a href="#">Gallery</a>
                                  </li>
                                   
                                  <li>
                                    <a href="#">Contact</a>
                                 </li>
                   
                            </ul>
                    </div>
                </div>
            </div>    
    </footer>
     
  

</body>
</html>
