<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2abacb26-7288-4187-af96-544a3a8bdfbf/resourcegroups/CISWebServer/providers/Microsoft.Web/sites/BooksRUs</ResourceId>
    <ResourceGroup>CISWebServer</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://booksrus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>booksrus.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BooksRUs</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BooksRUs</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BooksRUsConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=booksrus.database.windows.net;Initial Catalog=BooksRUs;User ID=serveradmin;Password=Sqlrule$" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=booksrus.database.windows.net;Initial Catalog=BooksRUs;User ID=serveradmin;Password=Sqlrule$" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BooksRUsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=booksrus.database.windows.net;Initial Catalog=BooksRUs;User ID=serveradmin;Password=Sqlrule$" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BooksRUsConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=booksrus.database.windows.net;Initial Catalog=BooksRUs;User ID=serveradmin;Password=Sqlrule$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>